footer {
    font-family: "Lato", sans-serif;
    padding: 85px 0 15px 0;
}

.footer-inner {
  display: flex;
  justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    position: relative;
}

  
h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
}
  
.color {
    color: white;
    font-weight: 400;
}
  
h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    padding-bottom: 9px;
    letter-spacing: 0.03em;
}

h3.desktop {
    padding-top: 30px;
}
  
  
p {
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
  
  
.desktop {
    display: auto;
}


@media (max-width: 1024px) {
  
footer {
    padding: 50px 0 5px 0 !important;
}

.footer-inner {
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.desktop {
    display: none;
}

.footer-inner:after {
    top: 260px;
}}
